.sidebar {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.compose_btn {
    padding: 10px 20px !important;
    border-radius: 15px !important;
    /* box-shadow: 2px 2px 3px #ccc; */
    margin-top: 5px !important;
    margin-bottom: 20px !important;
    margin-left: 10px !important;
    max-width: 150px;
    height: 55px;
    color: black !important;
    background-color: #C2E7FF !important;
    cursor: pointer;
    
}   


